<.header>
  New Vendor
  <:subtitle>Use this form to manage vendor records in your database.</:subtitle>
</.header>

<.vendor_form changeset={@changeset} action={~p"/vendors"} />

<.back navigate={~p"/vendors"}>Back to vendors</.back>
